@import "tailwindcss";

html {
	overflow: hidden;
}
body,
#root {
	height: 100%;
}

input,
select {
	border: 1px solid;
	border-radius: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-top: 5px;
}

/*********** sidebar filters **************/
ul.filter {
	padding: 10px 0;

	font-weight: 700;
	li {
		font-weight: 400;
		padding: 5px;
		label {
			padding-left: 10px;
		}
	}
}

.accordion-rjs {
	max-width: 180px;
	min-width: 180px;
	padding-top: 10px;

	.accordion-item-rjs {
		.accordion-title-rjs {
			border-top: 1px solid;
			cursor: pointer;
			display: flex;
			font-weight: 700;
			justify-content: space-between;
			padding-top: 10px;
		}
		.accordion-title-rjs:hover h6 {
			text-decoration: underline;
		}
		.accordion-title-rjs:active h6,
		.accordion-title-rjs:active div.expand {
			scale: 0.95;
		}
	}
}
/*********** backgrounds **************/
.hero-background {
	/* background-image: url("./images/bgs/big3_v2.jpg"); */
	/* background-position: center; */
	/* background-size: cover; */
	/* height: 70vh; */
}

.body-container {
	/* Setting height to 100% here won't allow the content to be fully visible when scrolling to the bottom of the page.
	   I believe this is because overflow is set to hidden on the <html> tag which permanently fixes the height of the display
	   to a pixel value. Then setting the body container to the same height (100%) means that the body should take up the
	   full screen including the navbar. Then with overflow auto/scroll on the content container this seems to cause the body
	   container to cut off the bottom of the element. I believe another way to look at this is, once scrolling the content
	   container to the bottom, if the height is (100% - the navbar height), then the full element will fit in the viewport WITH the navbar.
	   If the height is 100% (full viewport size), then both the content container and navbar cannot fully be visible on the screen with a fixed html height.*/
	height: calc(100% - 64px);
	/* Not currently using any absolute positioning, so I don't believe we need position relative here */
	/* position: relative; */
}

.content-container {
	height: 100%;
	overflow: auto;
}

.card-cover {
	cursor: pointer;
	height: 235px;
	margin-bottom: 40px;
	max-width: 370px;
	/* min-width: 350px; */
	transition: all 0.5s ease-in-out;
	width: 100%;

	.header-background {
		background-position: center;
		background-size: cover;
		border-radius: 10px;
		height: 235px;
	}
	.card-add-new {
		background-color: #ccc;
		border: 1px solid #ccc;
	}
}

.card-cover:hover {
	transition: all 0.5s ease-in-out;
	transform: scale(1.1);
}

.modal-90w {
	max-width: none !important;
	width: 90% !important;
}

.modal-50w {
	max-width: none !important;
	width: 50% !important;
}

form.add-video {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 20px;

	div {
		/* display: flex;
		gap: 20px;
		justify-content: end; */
		width: 100%;

		label {
			font-weight: 700;
			margin-bottom: 5px;
			padding-left: 10px;
		}
		input,
		select {
			flex-basis: 80%;
		}
		div.invalid-feedback {
			padding-left: 10px;
		}
	}
}
