@import "tailwindcss";

html {
	overflow: hidden;
}
body,
#root {
	height: 100%;
}

/*********** backgrounds **************/
.hero-background {
	background-image: url("./images/bgs/big3_v2.jpg");
	background-position: center;
	background-size: cover;
	height: 70vh;
}

.my-items {
	height: calc(100% - 64px);
	position: relative;
}

.item-container {
	height: 100%;
	overflow: auto;
}

.iframe-container {
	max-width: 370px;
}

.iframe-container .myHover:hover {
	background-color: transparent;
	box-shadow: inset 0 0 0 50vw rgba(50, 54, 68, 0.4);
	cursor: pointer;
}

.myHover:hover {
	background-color: #ccc;
	cursor: pointer;
}

.modal-90w {
	max-width: none !important;
	width: 90% !important;
}

.card-cover {
	height: 235px;
	margin-bottom: 40px;
	max-width: 370px;
	min-width: 350px;
	transition: all 0.5s ease-in-out;
}

.card-cover:hover {
	transition: all 0.5s ease-in-out;
	transform: scale(1.1);
}

.header-background {
	/* background-color: #ccc; */
	/* background-image: url("https://www.youtube.com/embed/9_3APf0X_-8.jpg"); */
	/* background-image: url("http://img.youtube.com/vi/9_3APf0X_-8/maxresdefault.jpg"); */
	/* background-image: url("http://img.youtube.com/vi/9_3APf0X_-8/0.jpg"); */
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	cursor: pointer;
	height: 235px;
}

.header-background:hover {
	background-color: grey;
}
